<section>
            <div class="card">
                {{#each reviewList}}
                <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                {{#with title}}
                                    <div style="font-weight: 700;">{{userName}}</div>
                                    <div>{{caption}}</div>
                                    <div>{{date}}</div>
                                {{/with}}
                                <hr>
                                <div>
                                    {{#with reviewBody}}
                                        {{#with seller}}
                                            <div class="mb-3">{{title}}: {{value}}</div>
                                        {{/with}}

                                        {{#with rating}}
                                            <div class="mb-3">{{title}}: {{value}}</div>
                                        {{/with}}

                                        
                                            {{#each text}}
                                            <div class="mb-3">{{this}}</div>
                                            {{/each}}
                                        
                                        {{#with advantages}}
                                        <div style="font-weight:700">{{title}}:</div>
                                        <div class="mb-3">{{text}}</div>
                                        {{/with}}

                                        {{#each images}}
                                            <img src="{{this}}" alt="">
                                        {{/each}}
                                    
                                </div>

                                
                            </div>
                            
                            
                        </div>
                    
                    <section>
                        {{#each coments}}
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="mb-2" style="font-weight: 500;">{{userName}}</div>
                                <div class="mb-2">{{date}}</div>
                                <div>{{text}}</div>
                            
                            </div>
                        </div>
                        {{/each}}
                            
                    </section>